# python stuff
passlib[bcrypt]
pandas
pymongo
python-dotenv

# backend
fastapi
uvicorn
jinja2
python-multipart

# observability
logfire
logfire[fastapi]

# ai stuff
nest-asyncio
pydantic-ai
groq
openai
claude
pydantic-ai-slim[tavily]